# Ipython notebook
*.ipynb
.ipynb_checkpoints
ipython_notebooks/

# Byte-compiled / optimized / DLL files / swap files
__pycache__/
*.py[cod]
*$py.class
.cache
*.swp

# data
data/CLEVR_v1.0
data/VQA_v2.0

# options
#src/experiment/options

# misc files/directories
results/
tensorboard/
logs/
src/analysis
